[data-md-color-scheme=default],
[data-md-color-scheme=slate][data-md-color-primary=indigo] {
    --md-primary-fg-color: #005EB8;
    --md-accent-fg-color: #00A9CE;
    --md-typeset-a-color: #005EB8;
}