/* force blank template */
.md-main {
    max-height: 0;
}

.md-main__inner {
    margin: unset;
}

/* hero style */
.hero {
    flex: 2;

    background-color: hsla(225deg, 15%, 14%, 1);

    display: flex;
}

.hero-contents {
    flex: auto;

    display: flex;
    align-items: center;
}

.hero-teaser {
    flex: auto;

    margin: 0.8rem;

    color: #fff;
}

.hero-teaser h1 {
    margin: 0.8rem 0;

    color: inherit;
    font-weight: 600;
}

.hero-teaser .md-button {
    margin-bottom: 0.8rem;

    color: inherit;
}

.hero-teaser .md-button--primary {
    background-color: #db1457;
    border-color: #db1457;
}

/* feature style */
.feature {
    flex: auto;

    background-color: #fff;

    display: flex;
}

.feature-contents {
    flex: auto;

    display: flex;
    flex-wrap: wrap;
}

.feature-item {
    flex-grow: 1;

    margin: 0.8rem;

    display: flex;
    align-items: center;
}

.feature-item .md-button {
    flex: auto;

    color: hsla(225deg, 15%, 14%, 1);
    font-weight: 400;
}

.feature-item h1 {
    margin: unset;

    color: inherit;
    font-weight: inherit;
}